.Contact{
   padding: 2rem;
   background-image: url("../../assets/Contact/backgoud.jpg");
   background-size: cover;
   width: 100%;
   background-position: center;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh; 
}